<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <a  class="nav-link text-light" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">
          <mat-icon aria-label="Icon" class="align-middle">logout</mat-icon>
        </a>
    </li>
</ul>
<!--<ul class="navbar-nav" *ngIf="(isAuthenticated | async) !== true">
  <li class="nav-item">
        <a class="nav-link text-light" [routerLink]='["/authentication/register"]'>Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" [routerLink]='["/authentication/login"]'>Login</a>
    </li>
</ul>-->
