<header>
  <nav class="navbar navbar-expand navbar-light">
    <button type="button" id="sidebarCollapse" class="btn navbar-btn text-white fw-bold">
      <mat-icon class="align-middle">menu</mat-icon>
    </button>
    <ul class="nav navbar-nav h3 w-100 justify-content-center">
      <li class="nav-item text-light">{{currentPage|translate}}</li>
    </ul>
    <ul class=" navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['/settings']" (click)="updatePage.emit('Settings')">
          <mat-icon class="align-middle">settings</mat-icon>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <mat-icon class="align-middle">language</mat-icon>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item text-light" (click)="switchLanguage.emit('en')" role="button"><img src="assets/img/gb.svg" width="25px"> {{'English'|translate}}</a>
          </li>
          <li>
            <a class="dropdown-item text-light" (click)="switchLanguage.emit('hun')" role="button"><img src="assets/img/hu.svg" width="25px"> {{'Hungarian'|translate}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <app-login-menu></app-login-menu>
  </nav>
</header>
