<div class="card extension-panel mb-2">
  <div class="card-body p-0">
    <div class="extension-header d-flex justify-content-between flex-grow-1 align-items-center p-1"
         [ngClass]="{'border-open': open}" (click)="open = !open">
      <div class="row w-100 align-items-center">
        <div class="col-md-8 col-6 row">
          <div class="col-md-6 col-12">
            {{stock?.symbol}}
          </div>
          <div class="col-md-6 col-12 text-md-center fst-italic">
            x{{stock?.amount}}
          </div>
        </div>
        <div class="col-md-3 col-12 text-end"
             [ngClass]="{'text-danger': currentTotalValue < totalValueAtPurchase, 'text-success': currentTotalValue >= totalValueAtPurchase}">{{displayValueWithCurrency(currentTotalValue, stock.currencyCode)}}</div>
      </div>
      <div class="expand-button align-middle">
        <mat-icon class="align-middle">{{open ? "expand_less" : "expand_more"}}</mat-icon>
      </div>
    </div>
    <div class="card-body" *ngIf="open">
      <div class="form-group">
        <div class="row">
          <div class="col-md-6 col-12 align-self-center row g-0">
            <span class="col-md-6 h6">{{'Value at purchase'|translate}}:</span>
            <span
              class="col-md-6 text-end text-md-start">{{displayValueWithCurrency(stock.valueAtPurchase, stock.currencyCode)}}
              </span>
          </div>
          <div class="col-md-6 col-12 align-self-center row g-0">
            <span class="col-md-6 h6">{{'Total value at purchase'|translate}}:</span>
            <span
              class="col-md-6 text-end text-md-start">{{displayValueWithCurrency(totalValueAtPurchase, stock.currencyCode)}}
              </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-12 align-self-center row g-0">
            <span class="col-md-6 h6">{{'Current value'|translate}}:</span>
            <span class="col-md-6 text-end text-md-start">{{displayValueWithCurrency(currentPrice, stock.currencyCode)}}
              </span>
          </div>
          <div class="col-md-6 col-12 align-self-center row g-0">
            <span class="col-md-6 h6">{{'Current total value'|translate}}:</span>
            <span class="col-md-6 text-end text-md-start"
                  [ngClass]="{'text-danger': totalValueAtPurchase > currentTotalValue, 'text-success': totalValueAtPurchase <= currentTotalValue}">{{displayValueWithCurrency(currentTotalValue, stock.currencyCode)}}
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
