<div class="card">
  <div class="card-header d-flex d-flex justify-content-between align-items-center">
    <h4 class="m-0">{{'New Stock'|translate}}</h4>
    <button class="btn btn-fix-size" [ngClass]="newStockOpen ? 'btn-success' : 'btn-danger'"
            (click)="newStockOpen = !newStockOpen">
      <h4 class="fw-bold lh-sm my-auto">{{newStockOpen ? '+' : '-'}}</h4>
    </button>
  </div>
  <div class="card-body" *ngIf="newStockOpen">
    <form #stockForm="ngForm" (ngSubmit)="onSubmit(stockForm)">
      <div class="form-group">
      <div class="row">
          <!-- Stock Symbol -->
          <div class="form-group mb-4 col-md-6">
            <label for="Symbol">{{'Symbol'|translate}}</label>
            <input id="Symbol" name="Symbol" type="text" class="form-control" [(ngModel)]="newStock.symbol"
                   #stockSymbol="ngModel" required minlength="3" placeholder="{{'Symbol'|translate}}"
                   [ngClass]="{'is-invalid': stockSymbol.touched && stockSymbol.errors}">
          </div>
          <!-- Amount -->
          <div class="form-group mb-4 col-md-6">
            <label for="Amount">{{'Amount'|translate}}</label>
            <input id="Amount" name="Amount" type="text" class="form-control" [(ngModel)]="newStock.amount"
                   #stockAmount="ngModel" placeholder="{{'Symbol'|translate}}">
          </div>
          <!-- Value at purchase -->
          <div class="form-group mb-4 col-md-6">
            <label for="Value">{{'Value at purchase'|translate}}</label>
            <input id="Value" name="Value" type="text" class="form-control" [(ngModel)]="newStock.valueAtPurchase"
                   #stockValue="ngModel" placeholder="{{'Value at purchase'|translate}}">
          </div>
          <!-- Add Currency Type -->
          <div class="form-group mb-4 col-md-6">
            <label for="Currency">{{'Currency type'|translate}}</label>
            <select id="Currency" name="Currency" class="form-select" [(ngModel)]="newStock.currency">
              <option *ngFor="let currency of currencyTypes | keyvalue"
                      value="{{currency.key}}">{{currency.value}}</option>
            </select>
          </div>
          <!-- Purchase date -->
          <div class="text-md-center">
            <mat-form-field appearance="outline" id="PurchaseTime" name="PurchaseTime" #purchaseTime="ngModel" [(ngModel)]="newStock.purchaseTime">
              <mat-label>Purchase date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <button type="submit" [disabled]="!stockForm.form.valid" class="btn btn-success offset-md-2 col-md-8">
            {{'Add Stock'|translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

