.extension-panel {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  min-height: 45px;
}

.extension-header:hover {
  background: rgba(0, 0, 0, .04);
  cursor: pointer;
}

.extension-header {
  min-height: 45px;
}

.expand-button {
  width: 24px;
  color: rgba(0, 0, 0, .54);
}

.extension-panel > .row {
  padding: 0;
  margin: 0;
}

.extension-panel > .row > * {
  padding: 0;
  margin: 0;
}

.border-open {
  border-bottom: 1px solid rgba(0,0,0,.125);
}
